---
import { getCollection } from 'astro:content';
import HText from '../hText.astro';
const Classes = await getCollection('classes');
console.log(Classes);
---
<section class="classes">
  <HText text="Classes" class="htext"></HText>
  {Classes.map(Class => (
    <div class="instance">
      <div class="header">
        <h4>{Class.data.school}</h4>
        <h5>{Class.data.class}</h5>
      </div>
      <div class="sections">
        {Class.data.sections.map(Section => (
          <a href={Section.url}>{Section.section}</a>
        ))}
      </div>
    </div>
  ))}

  <!-- {Object.entries(articlesByYear) -->
  <!--   .sort(([yearA], [yearB]) => Number(yearB) - Number(yearA)) // descending -->
  <!--   .map(([year, articles]) => ( -->
  <!--   <div class="year-group"> -->
  <!--     <h4>{year}</h4> -->
  <!--       {articles.map((article) => ( -->
  <!--         <div id={article.data.doi.replaceAll(/[^a-zA-Z0-9_-]/g, "-")} class="article"> -->
  <!--           <h5>{article.data.title}</h5> -->
  <!--           <p set:html={ -->
  <!--             article.data.authors.replace( -->
  <!--               /\b(Farisa(?:\s+Y\.?)?|F(?:\.?\s*)Y\.?)\s+Morales\b/gi, -->
  <!--               '<strong style="color: var(--primary)">$&</strong>' -->
  <!--             ) -->
  <!--           }></p> -->
  <!--           <p>DOI: <a href={article.url} target="_blank">{article.data.doi}</a></p> -->
  <!--         </div> -->
  <!--       ))} -->
  <!--   </div> -->
  <!-- ))} -->

</section>

<style>
.classes {
  background-color: var(--background);
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.header h4 {
  color: var(--primary);
  margin: auto 0;
}

.header h5 {
  color: var(--text);
  margin: auto 0;
  padding-top: 2px;
}

.sections {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
/* @media screen and (min-width: 576px){ */
/* } */
/* @media screen and (min-width: 780px){ */
/* } */
/* @media screen and (min-width: 1200px){ */
/* } */
</style>
