---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

const images = import.meta.glob<{ default: ImageMetadata }>('../../assets/imgs/gallery/*.{jpeg,jpg,png,gif}', {
  eager: true,
});

let ImageColumns3: ImageMetadata[][] = [[], [], []];
let counter = 0;
for (const mod of Object.values(images)) {
  const image = mod.default;
  if (counter === 3) counter = 0;
  ImageColumns3[counter].push(image);
  counter++;
}

let ImageColumns2: ImageMetadata[][] = [[], []];
counter = 0;
for (const mod of Object.values(images)) {
  const image = mod.default;
  if (counter === 2) counter = 0;
  ImageColumns2[counter].push(image);
  counter++;
}
---

<section class="galleryList">
  <div class="row">
    {ImageColumns3.map((column) => (
      <div class="column c3">
      {column.map((img, i) => (
        <Image
          src={img}
          alt={`Gallery: ${i + 1}`}
          width={img.width}
          height={img.height}
          loading="lazy"
          class="gImg"
        />
      ))}
      </div>
    ))}
    {ImageColumns2.map((column) => (
      <div class="column c2">
      {column.map((img, i) => (
        <Image
          src={img}
          alt={`Gallery: ${i + 1}`}
          width={img.width}
          height={img.height}
          loading="lazy"
          class="gImg"
        />
      ))}
      </div>
    ))}
  </div>
</section>

<style>
.galleryList {
  padding: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 0.5rem;
}

.column img {
  padding-bottom: 1rem;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.c2 {
  display: block;
}
.c3 {
  display: none;
}

/* @media screen and (min-width: 576px){ */
/* } */
@media screen and (min-width: 780px){
  /* Responsive layout - makes a two column-layout instead of 3 columns */
  .column {
    flex: 45%;
    max-width: 45%;
  }
}
@media screen and (min-width: 1200px){
  /* Create 3 equal columns that sits next to each other */
  .column {
    flex: 30%;
    max-width: 30%;
  }
  .c2 {
    display: none;
  }
  .c3 {
    display: block;
  }
}
</style>
