---
import { getCollection } from 'astro:content';
import HText from '../hText.astro';

const Opps = await getCollection('opportunities');
const nonDatedOpps = Opps.filter((opportunity) => !opportunity.data.date);
const datedOpps = Opps.filter((opportunity) => opportunity.data.date)
  .map((opportunity) => ({
    ...opportunity,
    dateObj: new Date(opportunity.data.deadline),
  }))                                                           // Add url and date object
  .sort((a, b) => b.dateObj.getTime() - a.dateObj.getTime())    // Newest first
const upcomingOpps = datedOpps.filter((opportunity) => opportunity.dateObj >= new Date());  // Only keep upcoming
const passedOpps = datedOpps.filter((opportunity) => opportunity.dateObj < new Date());  // Only keep upcoming
---
<section class="upcomingList">
  <HText text="Upcoming Opportunities"></HText>
  <div class="opps">
    {nonDatedOpps.map(nonDatedOpps => (
      <div class="card">
        <div class="title">
          <h4>{nonDatedOpps.data.title}</h4>
          <h5>{nonDatedOpps.data.company}</h5>
        </div>
        <div class="main">
          <img src={nonDatedOpps.data.logo.url} alt={nonDatedOpps.data.logo.alt} loading="lazy" >
          <div class="description">
            <p class="text">{nonDatedOpps.body}</p>
            <p class="deadline"><b>Deadline: </b>{nonDatedOpps.data.deadline}</p>
            <a href={nonDatedOpps.data.link} target="_blank">
              <h5>See opportunity</h5>
            </a>
          </div>
        </div>
      </div>
    ))}
    {upcomingOpps.map(upcomingOpps => (
      <div class="card">
        <div class="title">
          <h4>{upcomingOpps.data.title}</h4>
          <h5>{upcomingOpps.data.company}</h5>
        </div>
        <div class="main">
          <img src={upcomingOpps.data.logo.url} alt={upcomingOpps.data.logo.alt} loading="lazy" >
          <div class="description">
            <p class="text">{upcomingOpps.body}</p>
            <p class="deadline"><b>Deadline: </b>{upcomingOpps.data.deadline}</p>
            <a href={upcomingOpps.data.link} target="_blank">
              <h5>See opportunity</h5>
            </a>
          </div>
        </div>
      </div>
    ))}
    <a href="https://studentlaccd-my.sharepoint.com/:x:/g/personal/figuerca_laccd_edu/EdXe4l_z4D9Jk20Y2zJPVzgBDbl_Juhiy1ivLNtYStwj6Q"
      target="_blank" class="more">
      <h5>Check out this Database for more!</h5>
      <img src="/imgs/icons/arrowB.svg" alt="arrow">
    </a>
  </div>
</section>
<section class="passedList">
  <HText text="Passed Opportunities"></HText>
  <div class="opps passed">
    {passedOpps.map(passedOpps => (
      <div class="card">
        <div class="title">
          <h4>{passedOpps.data.title}</h4>
          <h5>{passedOpps.data.company}</h5>
        </div>
        <div class="main">
          <img src={passedOpps.data.logo.url} alt={passedOpps.data.logo.alt} loading="lazy" >
          <div class="description">
            <p class="text">{passedOpps.body}</p>
            <p class="deadline"><b>Deadline: </b>{passedOpps.data.deadline}</p>
            <a href={passedOpps.data.link} target="_blank">
              <h5>See opportunity</h5>
            </a>
          </div>
        </div>
      </div>
    ))}
  </div>
</section>

<style>
.upcomingList {
  background-color: var(--accent);
}

.passedList {
  background-color: var(--background);
}

.upcomingList, .passedList {
  color: var(--text);
  text-align: center;
  padding: 2rem;
}

.opps {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.title > h4 {
  margin: auto 0;
  color: var(--primary);
}

.title > h5 {
  margin-top: 6px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 1.5rem;
}

.passed .main {
  background-color: var(--background-950);
}

.main > img {
  height: auto;
  max-height: 200px;
  object-fit: contain;
}

.description {
  margin: auto 0;
}

.description > p{
  margin: 0.75rem;
}

.description > a {
  text-decoration: none;
}

.description > a > h5{
  justify-self: center;
  width: 80%;
  padding: 1rem;
  color: var(--text);
  border-radius: 1rem;
  background-color: var(--accent);
  transition: 0.3s;
}

.description > a > h5:hover {
  background-color: var(--accent-800);
  color: var(--primary);
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.more {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--background);
  border-radius: 1rem;
  transition: 0.3s;
  text-decoration: none;
  color: var(--text);
}

.more:hover {
  background-color: var(--accent-800);
  color: var(--primary);
}

.more > img {
  margin: 0 auto;
  width: 70px;
}

/* @media screen and (min-width: 576px){ */
/* } */
@media screen and (min-width: 780px){
  .opps {
    max-width: 1100px;
    margin: 0 auto;
  }
  .title {
    flex-direction: row;
  }
  .main {
    flex-direction: row;
  }
  .main > img {
    width: 33%;
    max-height: 350px;
  }
  .description {
    width: 66%;
  }
  .text {
    display: block;
  }

  /* Add a faded overlay effect for passed opportunities */
  .passed .card {
    position: relative;
    opacity: 0.6;
    filter: grayscale(40%);
    transition: 0.3s ease;
  }

  /* Remove the overlay when hovering */
  .passed .card:hover {
    opacity: 1;
    filter: none;
  }

  .more {
    flex-direction: row;
    justify-content: center;
  }
  .more > img {
    margin: 0;
    width: 50px;
  }
  .more h5 {
    margin: auto 0;
  }
}
/* @media screen and (min-width: 1200px){ */
/* } */
</style>
